body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
}

#quiz-container {
    width: 90%;
    max-width: 600px;
    margin-top: 60px;
    padding: 20px;
    background-color: grey;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.controls, #high-scores {
    margin-top: 20px;
    text-align: center;
}

.hide {
    display: none;
}

#answer-buttons button {
    width: 100%;
    margin: 5px 0;
}

#high-scores input[type="text"] {
    padding: 10px;
    margin: 10px;
    width: calc(100% - 22px);
}

#high-scores-list {
    margin-top: 20px;
}

#high-scores-table {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px;
    text-align: left;
}

#high-scores-table li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: -1px;
    padding: 8px;
    font-size: 18px;
}

#back-btn {
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#back-btn:hover {
    background-color: #0056b3;
}

/* Results section styling */
#results {
    text-align: center;
    padding: 20px;
    background-color: #333; /* Dark background for the results */
    color: white; /* White text color */
    border-radius: 8px;
    margin: 20px 0; /* Spacing around the results box */
}

#results h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

#results p {
    font-size: 20px;
    margin: 10px 0;
}

#retry-btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#retry-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.2rem;
    }

    #quiz-header {
        flex-direction: column;
        align-items: flex-start;
    }

    #timer {
        padding-top: 10px; /* Added padding for better spacing on small screens */
        align-self: flex-end;
    }
}
